* {
  padding: 0;
  margin: 0;
}
.avatars {
  list-style: none;
  background-color: #ffffff;
  font-size: 0;
  text-align: center;
}
.avatars li {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: relative;
  background-color: #dbdbdb;
  border-radius: 50%;
  margin: 10px;
}

.avatars img {
  /* display: block; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.pictures {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
.green {
  background-color: #4cfe88;
}

.gray {
  background-color: #dbdbdb;
}
